<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="../../src/angular-remote-typeaheadjs.js"></script>

    <style>
        .container1 {
            margin: 50px auto;
        }
        .typeahead-wrapper {
            display: block;
            margin: 50px 0;
        }
        .tt-dropdown-menu {
            background-color: #ccc;
            border: 1px solid #000;
        }
        .tt-suggestion.tt-cursor {
            background-color: #fff;
            color: #000;
        }
    </style>
</head>

<body ng-app="myApp">

    <div class="container1" ng-controller="FilterCtrl as vm">
        <angular-remote-typeaheadjs remote="{{vm.urlRemote}}"
            onselected="vm.onSelected"
            onclosed="vm.onClosed"
            oncursorchanged="vm.onCursorChanged"
            clearvalue="false"></angular-remote-typeaheadjs>
        <br/>
        <br/>
        Selection: <input id="itemonSelected" ng-model="vm.itemonSelected"/>
        On Close: <input id="itemonClosed" ng-model="vm.itemonClosed"/>
    </div>




<script>

(function() {
    'use strict';

    angular.module('myApp', [
        'angularRemoteTypeaheadjs'
    ]).controller('FilterCtrl', [ '$scope', FilterCtrl ]);

    function FilterCtrl($scope) {
        var vm = this;
        vm.itemonSelected='';
        vm.itemonClosed='';
        vm.prefetch = '/tests/integration/data.json'
        vm.urlRemote = '/tests/integration/%QUERY.json';
        vm.onSelected = function (item) {
            vm.itemonSelected = 'selected:' + item.name;
            $scope.$apply();
        };
        vm.onClosed = function(item) {
            vm.itemonClosed = 'closed:' + item.name;
            $scope.$apply();
        };
        vm.onCursorChanged = function() {
        };
    }

}());


</script>
</body>
</html>
