<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="../../src/angular-remote-typeaheadjs.js"></script>

    <style>
        .container1 {
            margin: 50px auto;
        }
        .typeahead-wrapper {
            display: block;
            margin: 50px 0;
        }
        .tt-dropdown-menu {
            background-color: #ccc;
            border: 1px solid #000;
        }
        .tt-suggestion.tt-cursor {
            background-color: #fff;
            color: #000;
        }
    </style>
</head>

<body ng-app="myApp">

    <div class="container1" ng-controller="FilterCtrl1 as vm">
        <angular-remote-typeaheadjs remote="{{vm.urlRemote}}"
            placeholder="type lit"
            datasource="categories"
            onselected="vm.onSelected"
            onclosed="vm.onClosed"
            oncursorchanged="vm.onCursorChanged"
            clearvalue="false"
            limit="3"></angular-remote-typeaheadjs>
        <br/>
        <br/>
        Selection: <input id="itemonSelected1" ng-model="vm.itemonSelected"/>
        On Close: <input id="itemonClosed1" ng-model="vm.itemonClosed"/>
        On Cursor Changed: <input id="itemonCursorChanged1" ng-model="vm.itemonCursorChanged"/>
    </div>
    <div class="container2" ng-controller="FilterCtrl2 as vm">
        <angular-remote-typeaheadjs remote="{{vm.urlRemote}}" clearvalue="false"></angular-remote-typeaheadjs>
        <br/>
        <br/>
        Selection: <input id="itemonSelected2" ng-model="vm.itemonSelected"/>
        On Close: <input id="itemonClosed2" ng-model="vm.itemonClosed"/>
        On Cursor Changed: <input id="itemonCursorChanged2" ng-model="vm.itemonCursorChanged"/>
    </div>




<script>

(function() {
    'use strict';

    angular.module('myApp', ['angularRemoteTypeaheadjs'])
        .controller('FilterCtrl1', [ '$scope', FilterCtrl1 ])
        .controller('FilterCtrl2', [ '$scope', FilterCtrl2 ]);

    function FilterCtrl1($scope) {
        var vm = this;
        vm.itemonSelected = '';
        vm.itemonClosed = '';
        vm.itemonCursorChanged = '';
        vm.prefetch = '/tests/integration/data.json'
        vm.urlRemote = '/tests/integration/%QUERY.json';
        vm.onSelected = function (item) {
            vm.itemonSelected = 'selected:' + item.name;
            $scope.$apply();
        };
        vm.onClosed = function(item) {
            vm.itemonClosed = 'closed:' + item.name;
            $scope.$apply();
        };
        vm.onCursorChanged = function(item) {
            vm.itemonCursorChanged = 'cursorchanged:' + item.name;
            $scope.$apply();
        };
    }
    function FilterCtrl2($scope) {
        var vm = this;
        vm.itemonSelected = '';
        vm.itemonClosed = '';
        vm.itemonCursorChanged = '';
        vm.prefetch = '/tests/integration/data.json'
        vm.urlRemote = '/tests/integration/%QUERY.json';

        $scope.$on('typeahead:selected', function(event, data) {
            vm.itemonSelected = 'selected:' + data.name;
            $scope.$apply();
        });
        $scope.$on('typeahead:autocompleted', function(event, data) {
            vm.itemonSelected = 'autocompleted:' + data.name;
            $scope.$apply();
        });
        $scope.$on('typeahead:closed', function(event, data) {
            vm.itemonClosed = 'closed:' + data.name;
            $scope.$apply();
        });
        $scope.$on('typeahead:cursorchanged', function(event, data) {
            vm.itemonCursorChanged = 'cursorchanged:' + data.name;
            $scope.$apply();
        });

    }

}());


</script>
</body>
</html>
