<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="../../src/angular-typeaheadjs.js"></script>

    <style>
        .container1,
        .container2,
        .container3,
        .container4,
        .container5{
            margin: 75px auto;
        }
    </style>
</head>

<body ng-app="myApp">

    <div class="container1" ng-controller="FilterCtrl1 as vm">
        <angular-typeaheadjs
            options="{{vm.options}}"
            onselected="vm.onSelected"
            onclosed="vm.onClosed"
            oncursorchanged="vm.onCursorChanged"
            attr-options='{{vm.moreattrs}}'></angular-typeaheadjs>
        Selection: <input id="itemonSelected1" ng-model="vm.itemonSelected"/>
        On Close: <input id="itemonClosed1" ng-model="vm.itemonClosed"/>
        On Cursor Changed: <input id="itemonCursorChanged1" ng-model="vm.itemonCursorChanged"/>
    </div>

    <div class="container2" ng-controller="FilterCtrl2 as vm">
        <angular-typeaheadjs
            options='{remote: "/tests/integration/%QUERY.json", clearvalue: false}'
            attr-options='{placeholder: "type lit"}'></angular-typeaheadjs>

        <!--<angular-typeaheadjs ng-repeat="item in vm.obj"-->
         <!--attr-options='{placeholder: "{{item.place}}"}' options="{{item.op}}"></angular-typeaheadjs>-->
        Selection: <input id="itemonSelected2" ng-model="vm.itemonSelected"/>
        On Close: <input id="itemonClosed2" ng-model="vm.itemonClosed"/>
        On Cursor Changed: <input id="itemonCursorChanged2" ng-model="vm.itemonCursorChanged"/>
    </div>

    <div class="container3" ng-controller="FilterCtrl3 as vm">
        <angular-typeaheadjs options="{{vm.options}}"></angular-typeaheadjs>
        Selection: <input id="itemonSelected3" ng-model="vm.itemonSelected"/>
    </div>

    <div class="container4" ng-controller="FilterCtrl4 as vm">
        <angular-typeaheadjs options="{{vm.options}}" model="vm.category"></angular-typeaheadjs>
        Model: <input id="inputbound4" ng-model="vm.category"/>
    </div>

    <div class="container5" ng-controller="FilterCtrl5 as vm">
        <angular-typeaheadjs options="{{vm.options}}"></angular-typeaheadjs>
        Selection: <input id="itemonSelected5" ng-model="vm.itemonSelected"/>
        On Close: <input id="itemonClosed5" ng-model="vm.itemonClosed"/>
        On Cursor Changed: <input id="itemonCursorChanged5" ng-model="vm.itemonCursorChanged"/>
    </div>
<script>

(function() {
    'use strict';

    angular.module('myApp', ['angularTypeaheadjs'])
        .controller('FilterCtrl1', [ '$scope', FilterCtrl1 ])
        .controller('FilterCtrl2', [ '$scope', FilterCtrl2 ])
        .controller('FilterCtrl3', [ '$scope', FilterCtrl3 ])
        .controller('FilterCtrl4', [ '$scope', FilterCtrl4 ])
        .controller('FilterCtrl5', [ '$scope', FilterCtrl5 ]);

    function FilterCtrl1($scope) {
        var vm = this;
        vm.itemonSelected = '';
        vm.itemonClosed = '';
        vm.itemonCursorChanged = '';
        vm.options = {
            prefetch: '/tests/integration/data.json',
            remote: '/tests/integration/%QUERY.json',
            datasource: 'categories',
            clearvalue: false,
            limit: 3
        };
        vm.moreattrs = {
            placeholder: 'type lit...'
        }

        vm.onSelected = function (item) {
            vm.itemonSelected = 'selected:' + item.name;
        };
        vm.onClosed = function(item) {
            vm.itemonClosed = 'closed:' + item.name;
        };
        vm.onCursorChanged = function(item) {
            vm.itemonCursorChanged = 'cursorchanged:' + item.name;
        };
    }
    function FilterCtrl2($scope) {
        var vm = this;
//        vm.obj = [
//            {
//                op: {
//                    remote: '/tests/integration/%QUERY.json',
//                    clearvalue: false},
//                place: 'lit1'},
//            {
//                op: {
//                    remote: '/tests/integration/%QUERY.json',
//                    clearvalue: true
//                },
//                place:'lit2'
//            }
//        ];
        vm.itemonSelected = '';
        vm.itemonClosed = '';
        vm.itemonCursorChanged = '';
        vm.options = {
            remote: '/tests/integration/%QUERY.json',
            clearvalue: false
        };
        $scope.$on('typeahead:selected', function(event, data) {
            vm.itemonSelected = 'selected:' + data.name;
        });
        $scope.$on('typeahead:autocompleted', function(event, data) {
            vm.itemonSelected = 'autocompleted:' + data.name;
        });
        $scope.$on('typeahead:closed', function(event, data) {
            vm.itemonClosed = 'closed:' + data.name;
        });
        $scope.$on('typeahead:cursorchanged', function(event, data) {
            vm.itemonCursorChanged = 'cursorchanged:' + data.name;
        });

    }
    function FilterCtrl3($scope) {
        var vm = this;
        vm.itemonSelected = '';

        vm.options = {
            remote: '/tests/integration/%QUERY.json',
            clearvalue: true
        };

        $scope.$on('typeahead:selected', function(event, data) {
            vm.itemonSelected = 'selected:' + data.name;
        });
    }
    function FilterCtrl4($scope) {
        var vm = this;
        vm.category = '';

        vm.options = {
            remote: '/tests/integration/%QUERY.json',
            prefetch: '/tests/integration/data.json',
            clearvalue: false
        };
    }
    function FilterCtrl5($scope) {
        var vm = this;
        vm.itemonSelected = '';
        vm.itemonClosed = '';
        vm.itemonCursorChanged = '';

        vm.options = {
            prefetch: '/tests/integration/data.json'
        };

        $scope.$on('typeahead:selected', function(event, data) {
            vm.itemonSelected = 'selected:' + data.name;
        });
        $scope.$on('typeahead:autocompleted', function(event, data) {
            vm.itemonSelected = 'autocompleted:' + data.name;
        });
        $scope.$on('typeahead:closed', function(event, data) {
            vm.itemonClosed = 'closed:' + data.name;
        });
        $scope.$on('typeahead:cursorchanged', function(event, data) {
            vm.itemonCursorChanged = 'cursorchanged:' + data.name;
        });

    }
}());

</script>
</body>
</html>
